/* line 1, sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*
  Automatically inherit in all elements whatever we set
  in body.
   */
  box-sizing: inherit; }

/* line 15, sass/base/_base.scss */
html {
  /*

  This will act as a basis for all our REM calculations.

  The root font size is usually 16px. So 10px is 62.5%,
  and thus 1REM = 10px.

  REM is not supported by IE < 9
  */
  font-size: 62.5%; }

/* line 28, sass/base/_base.scss */
body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  /* Best practice is to always
     animate the opacity and transform
     properties for best performance */
  0% {
    /* start */
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    /* finish */
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* Best practice is to always
     animate the opacity and transform
     properties for best performance */
  0% {
    /* start */
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    /* finish */
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  /* Best practice is to always
     animate the opacity and transform
     properties for best performance */
  0% {
    /* start */
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    /* finish */
    opacity: 1;
    transform: translate(0); } }

/* line 1, sass/base/_typography.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

/* line 10, sass/base/_typography.scss */
.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  /*This solves animation shakiness */
  /*basically hides the transform element */
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* spacing between button and heading*/ }
  /* line 19, sass/base/_typography.scss */
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /*animation */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
     animation-delay: 3s;
     animation-iteration-count: 3;
     */ }
  /* line 35, sass/base/_typography.scss */
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* short hand notation */
    animation: moveInRight 1s ease-out; }

/* line 46, sass/base/_typography.scss */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  /* line 57, sass/base/_typography.scss */
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

/* line 63, sass/base/_typography.scss */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

/* line 69, sass/base/_typography.scss */
.paragraph {
  font-size: 1.6rem; }
  /* line 72, sass/base/_typography.scss */
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* line 1, sass/base/_utilities.scss */
.u-center-text {
  text-align: center !important; }

/* line 5, sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

/* line 9, sass/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

/* line 13, sass/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

/* line 17, sass/base/_utilities.scss */
.u-margin-top-big {
  margin-top: 8rem !important; }

/* line 21, sass/base/_utilities.scss */
.u-margin-top-huge {
  margin-top: 10rem !important; }

/* line 2, sass/components/_button.scss */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

/* line 19, sass/components/_button.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  /* line 23, sass/components/_button.scss */
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

/* line 29, sass/components/_button.scss */
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 37, sass/components/_button.scss */
.btn--white {
  background-color: #ffffff;
  color: #777; }
  /* line 41, sass/components/_button.scss */
  .btn--white::after {
    background-color: #ffffff; }

/* line 46, sass/components/_button.scss */
.btn--green {
  background-color: #55c57a;
  color: #ffffff; }
  /* line 50, sass/components/_button.scss */
  .btn--green::after {
    background-color: #55c57a; }

/* line 55, sass/components/_button.scss */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

/* line 68, sass/components/_button.scss */
.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /* apply 0% animation before it starts*/ }

/* line 75, sass/components/_button.scss */
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

/* line 86, sass/components/_button.scss */
.btn-text:hover {
  background-color: #55c57a;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

/* line 93, sass/components/_button.scss */
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

/* line 1, sass/components/_card.scss */
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  /* line 9, sass/components/_card.scss */
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    /** hides back part of the element **/
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    /* line 21, sass/components/_card.scss */
    .card__side--front {
      background-color: #ffffff; }
    /* line 25, sass/components/_card.scss */
    .card__side--back {
      transform: rotateY(180deg); }
      /* line 28, sass/components/_card.scss */
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      /* line 32, sass/components/_card.scss */
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      /* line 36, sass/components/_card.scss */
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  /* line 42, sass/components/_card.scss */
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  /* line 46, sass/components/_card.scss */
  .card:hover .card__side--back {
    transform: rotateY(0); }
  /* line 51, sass/components/_card.scss */
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    /* line 61, sass/components/_card.scss */
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    /* line 66, sass/components/_card.scss */
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    /* line 71, sass/components/_card.scss */
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  /* line 77, sass/components/_card.scss */
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  /* line 90, sass/components/_card.scss */
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    /* line 95, sass/components/_card.scss */
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    /* line 101, sass/components/_card.scss */
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    /* line 107, sass/components/_card.scss */
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  /* line 114, sass/components/_card.scss */
  .card__details {
    padding: 3rem; }
    /* line 117, sass/components/_card.scss */
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      /* line 122, sass/components/_card.scss */
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        /* line 127, sass/components/_card.scss */
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #aaa; }
  /* line 135, sass/components/_card.scss */
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  /* line 142, sass/components/_card.scss */
  .card__price-box {
    text-align: center;
    color: #ffffff;
    margin-bottom: 8rem; }
  /* line 148, sass/components/_card.scss */
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  /* line 153, sass/components/_card.scss */
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

/* line 1, sass/components/_composition.scss */
.composition {
  position: relative; }
  /* line 4, sass/components/_composition.scss */
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    /* line 13, sass/components/_composition.scss */
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    /* line 18, sass/components/_composition.scss */
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    /* line 23, sass/components/_composition.scss */
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    /* line 28, sass/components/_composition.scss */
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  /* line 36, sass/components/_composition.scss */
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

/* line 1, sass/components/_feature-box.scss */
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  /* line 10, sass/components/_feature-box.scss */
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  /* line 19, sass/components/_feature-box.scss */
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/* line 1, sass/components/_story.scss */
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  /* line 17, sass/components/_story.scss */
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden; }
  /* line 31, sass/components/_story.scss */
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  /* line 38, sass/components/_story.scss */
  .story__text {
    transform: skewX(12deg); }
  /* line 42, sass/components/_story.scss */
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  /* line 56, sass/components/_story.scss */
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  /* line 61, sass/components/_story.scss */
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

/* line 1, sass/components/_bg-video.scss */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  /* line 11, sass/components/_bg-video.scss */
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* line 3, sass/components/_form.scss */
.form__group:not(:last-child) {
  margin-bottom: 2rem; }

/* line 7, sass/components/_form.scss */
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  /* line 22, sass/components/_form.scss */
  .form__input::-webkit-input-placeholder {
    color: #aaa; }
  /* line 26, sass/components/_form.scss */
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  /* line 30, sass/components/_form.scss */
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }

/* line 37, sass/components/_form.scss */
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

/* line 49, sass/components/_form.scss */
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

/* line 55, sass/components/_form.scss */
.form__radio-group {
  width: 49%;
  display: inline-block; }

/* line 60, sass/components/_form.scss */
.form__radio-input {
  display: none; }

/* line 64, sass/components/_form.scss */
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

/* line 71, sass/components/_form.scss */
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  /* line 81, sass/components/_form.scss */
  .form__radio-button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

/* line 94, sass/components/_form.scss */
.form__radio-input:checked ~ .form__radio-label .form__radio-button:after {
  opacity: 1; }

/* line 1, sass/components/_popup.scss */
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  /* line 14, sass/components/_popup.scss */
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #ffffff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .4s .2s; }
  /* line 28, sass/components/_popup.scss */
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  /* line 33, sass/components/_popup.scss */
  .popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  /* line 40, sass/components/_popup.scss */
  .popup__img {
    display: block;
    width: 100%; }
  /* line 45, sass/components/_popup.scss */
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #aaa;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #aaa;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  /* line 64, sass/components/_popup.scss */
  .popup:target {
    opacity: 1;
    visibility: visible; }
  /* line 69, sass/components/_popup.scss */
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  /* line 75, sass/components/_popup.scss */
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  /* line 88, sass/components/_popup.scss */
  .popup__close:hover {
    color: #55c57a; }

/* line 1, sass/layout/_grid.scss */
.row {
  max-width: 114rem;
  margin: 0 auto;
  /* center block element inside block element*/ }
  /* line 5, sass/layout/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  /* line 2, sass/abstracts/_mixins.scss */
  .row::after {
    content: "";
    display: table;
    clear: both; }
  /* line 12, sass/layout/_grid.scss */
  .row [class^="col-"] {
    float: left; }
    /* line 15, sass/layout/_grid.scss */
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  /* line 20, sass/layout/_grid.scss */
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  /* line 24, sass/layout/_grid.scss */
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  /* line 28, sass/layout/_grid.scss */
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  /* line 32, sass/layout/_grid.scss */
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  /* line 36, sass/layout/_grid.scss */
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  /* line 40, sass/layout/_grid.scss */
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

/* line 1, sass/layout/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  /* line 15, sass/layout/_header.scss */
  .header__logo-box {
    /* equivalent to .header__logo-box */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 21, sass/layout/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 25, sass/layout/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* line 1, sass/layout/_footer.scss */
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  /* line 7, sass/layout/_footer.scss */
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  /* line 12, sass/layout/_footer.scss */
  .footer__logo {
    width: 15rem;
    height: auto; }
  /* line 17, sass/layout/_footer.scss */
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  /* line 23, sass/layout/_footer.scss */
  .footer__list {
    list-style: none; }
  /* line 27, sass/layout/_footer.scss */
  .footer__item {
    display: inline-block; }
    /* line 30, sass/layout/_footer.scss */
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  /* line 36, sass/layout/_footer.scss */
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  /* line 46, sass/layout/_footer.scss */
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  /* line 54, sass/layout/_footer.scss */
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }

/* line 3, sass/layout/_navigation.scss */
.navigation__checkbox {
  display: none; }

/* line 7, sass/layout/_navigation.scss */
.navigation__button {
  background-color: #ffffff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

/* line 21, sass/layout/_navigation.scss */
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

/* line 33, sass/layout/_navigation.scss */
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden; }

/* line 47, sass/layout/_navigation.scss */
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  overflow: hidden; }

/* line 55, sass/layout/_navigation.scss */
.navigation__item {
  margin: 1rem;
  overflow: hidden; }

/* line 62, sass/layout/_navigation.scss */
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 220%;
  transition: all .4s; }
  /* line 75, sass/layout/_navigation.scss */
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

/* line 81, sass/layout/_navigation.scss */
.navigation__link:hover, .navigation__linkactive {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

/* line 92, sass/layout/_navigation.scss */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

/* line 96, sass/layout/_navigation.scss */
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

/* line 102, sass/layout/_navigation.scss */
.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  /* line 106, sass/layout/_navigation.scss */
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  /* line 115, sass/layout/_navigation.scss */
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  /* line 123, sass/layout/_navigation.scss */
  .navigation__icon::before {
    top: -.8rem; }
  /* line 127, sass/layout/_navigation.scss */
  .navigation__icon::after {
    top: .8rem; }

/* line 132, sass/layout/_navigation.scss */
.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

/* line 137, sass/layout/_navigation.scss */
.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

/* line 141, sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

/* line 145, sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

/* line 150, sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

/* line 1, sass/pages/_homes.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

/* line 7, sass/pages/_homes.scss */
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  /* line 18, sass/pages/_homes.scss */
  .section-features > * {
    transform: skewY(7deg); }

/* line 23, sass/pages/_homes.scss */
.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }

/* line 30, sass/pages/_homes.scss */
.section-stories {
  position: relative;
  padding: 15rem 0; }

/* line 35, sass/pages/_homes.scss */
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

/* line 40, sass/pages/_homes.scss */
.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 49.9%, transparent 50%), url("../img/nat-10.jpg");
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem; }
  /* line 52, sass/pages/_homes.scss */
  .book__form {
    width: 50%;
    padding: 6rem; }

/*
Notes:

box model default:
    - everything is a rectangle with:
        - content
        - width
        - height
        - padding
        - border
        - margin
        - fill area (area that gets filled with background color)
    - total width = r border + r padding + specified width + l padding + l border
    - total height = t border + t padding + specified height + b padding + b border

box model border-box
    - the specified width and height will span across border and padding,
      not just content area

box types:
    - block-level
        - elements formatted visually as blocks
        - 100% of parent's width
        - vertically, one after another
        - box-model applies
        - e.g.
            display: block, flex, list-item, table
    - inline
        - content is distributed in lines
        - occupies only content's space
        - no line-breaks
        - no heights and widths
        - padding and margins only horizontal
        - e.g.
            display: inline-block
    - inline-block
        - a mix of both
        - occupies only content's space
        - no line-breaks
        - box-model applies as showed
        - e.g.
            display: inline

positioning:
    - normal flow
        - default
        - not floated
        - not absolutely positioned
        - elements laid out according to their source order
        - e.g.
            - position: relative
    - floats
        - Element is removed from the normal flow
        - Text and inline elements will wrap around the floated element.
        - The container will not adjust its height to the element.
        - e.g.
            - float: left, float: right
    - Absolute positioning
        - element is removed from the normal flow
        - no impact on surrounding content or elements
        - we use top/bottom/left/right to offset the element from its relatively positioned container.
        - e.g.
            - position: absolute, position: fixed

stacking contexts
    - z-index (there are other ways, lke transform and filter)
*/
